input {
    all: unset;
    box-sizing: border-box;
    height: 34px;
    padding: 0 15px;
    border-radius: 8px;
    background-color: #FFF;
    border-color: #FFF;

    font-size: 12px;

    &::placeholder {
        opacity: .7;
    }
}

button {
    all: unset;
    box-sizing: border-box;
    @include flex-center;
    height: 34px;
    border-radius: 8px;
    background-color: #FFF;
    border-color: #FFF;
    font-size: 14px;
    font-weight: 700;
}